.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 60px 60px;
  background-color: #f8f9fa;
}

.skillsTitle {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 40px;
  color: #212529;
  letter-spacing: -0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.skillsTitle::before,
.skillsTitle::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #e0e0e0;
}

.capsulesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 950px;
  gap: 20px;
}
