.capsule {
  padding: 10px 20px;
  background-color: #fdfdfd;
  border: solid 1px #ccc;
  border-radius: 25px;
  font-size: 14px;
  color: #5d5d5d;
  cursor: pointer;
  display: flex;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  font-family: inherit;
}
.capsule:hover:not(:disabled) {
  background-color: #f0f0f0;
}
.capsule:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.capsule img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
